body {
  background-color: #282c34;
  font-size: 16px;
  line-height: 27px;
  color: white;
}

* {
  box-sizing: border-box;
}

a, a:active, a:focus, a:hover {
  color: #ed9100;
  text-decoration: none;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  background-image: url('./images/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.outer-wrapper {
  display: flex;
  justify-content: center;
}

.inner-wrapper {
  position: relative;
  margin-top: 150px;
  width: 430px;
}

.app-logo {
  margin-bottom: 8px;
}

input.search-input {
  border: none;
  width: 100%;
  font-size: 16px;
  padding: 8px 5px;
  border-radius: 4px;
}
input.search-input:active,
input.search-input:focus,
input.search-input:hover {
  border: none;
  outline: none;
}

.reasults-holder {
  position: absolute;
  top: 79px;
  background: #16191f;
  box-shadow: 0px 0px 15px rgba(0,0,0,.3);
  width: 100%;
  font-size: 16px;
}

.result-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.result-item:hover {
  background-color: #282c34;
}

.page-footer {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
}

.page-footer a {
  margin-right: 20px;
}

@media (max-width: 430px) {
  .outer-wrapper {
    padding: 30px;
  }
  .inner-wrapper {
    margin-top: 30px;
    width: 100%;
  }
}
